{% extends "base.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Registration Page{% endblock %}</title>
    {% block head%}
    <meta name="robots" content="index, follow" />
    <!-- <meta name="robots" content="noindex, nofollow" /> -->
    <meta name="description" content="Registration Page">
    {% endblock %}
</head>

<body>
    {% block content%}
    <div class="row mt-5">
        <div class="col-12 col-md-6 mx-auto">
            <h1>Registration</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
    {% endblock %}
    {% block scripts%}{% endblock %}
</body>

</html>