{% extends "base.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{{object.title}}{% endblock %}</title>
    {% block head%}
    <meta name="robots" content="index, follow" />
    <!-- <meta name="robots" content="noindex, nofollow" /> -->
    <meta name="description" content="{{object.subtitle}}">
    {% endblock %}
</head>

<body>
    {% block content%}
    <div class="container">
        {% include 'blog/navbar.html' %}
        <h1>{{object.title}}</h1>
        <hr>
        <h2>{{ object.subttitle }}</h2>
        <small>Posted at {{object.date_created}}</small>
        <p>{{ object.body }}</p>
        <hr>
        <div id="comment_button" onclick="comment_event()">Add Comment</div>
        <form id="comment_form" action="{% url 'blog:create_comment' object.id %}" method="post">
            {% csrf_token %}
            {{comment_form.as_p}}
            <button type="submit" class="btn btn-success ms-2">submit</button>
        </form>
        <h2>Comments</h2>
        <ol id="comments_container">
            {% for comment in post.comments.all|slice:":10" %}
                {% if forloop.counter < 10 %} <li>
                        <span class="fw-bold">{{comment.title}}</span> <br> {{comment.body}}
                        {% if comment.user and comment.user.first_name %}
                            <br> {{comment.user.first_name}}
                        {% endif %}
                        <br>
                    </li>
                {% else %}
                    <button id="comments_button" class="btn btn-success" onclick="get_comments()">read more</button>
                    <div id="addComments"></div>
                {% endif%}
                {% empty %}
                    <p>No Comments yet.</p>
            {% endfor %}
        </ol>

        {% endblock %}
        {% block scripts%}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>

            comment_form = document.getElementById("comment_form");
            comment_form.style.display = "none";
            comment_section = document.getElementById("comment_button");
            comment_section.classList.add("btn");
            comment_section.classList.add("btn-warning");
            comment_section.classList.add("ms-1");
            comment_section.classList.add("mb-1");
            function comment_event() {
                comment_form.style.display = "block";
                clicked = true
                comment_section.classList.remove("btn")
                comment_section.classList.remove("btn-warning")
                comment_section.classList.add("fs-1")
            }
            let current_comment_length = 2;
            let hide_button = false
            function get_comments() {
                $(document).ready(function () {
                    const url = "{% url 'blog:get_comments' comment_id='7723aacb-4303-4c29-9d10-0b4db6e79305' page_number=1 %}".split("/").slice(0, 4).join('/') + `/${current_comment_length}/`
                    $.get(url, function (data, status) {
                        if (data.length > 0){
                            if(!hide_button){
                                $('#comments_button').remove()
                                hide_button = true;
                            }
                            data.forEach(element => {
                                let node = `<span class="fw-bold">${element.title}</span> <br> ${element.body}`
                                if (element.registered_user){
                                    node += `<br> ${element.user}`
                                }
                                node += '<br>'
                                $("#comments_container").append(`<li>${node}</li>`)
                            });
                            if(hide_button){
                                $("#comments_container").append('<button id="comments_button" class="btn btn-success" onclick="get_comments()">read more</button>')
                                hide_button = false;
                            }
                        }
                        current_comment_length += 1
                    });
                });
            }
        </script>
    </div>
    {% endblock %}
</body>

</html>