{% extends "base.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}HOMEPAGE{% endblock %}</title>
    {% block head%}
    <meta name="robots" content="index, follow" />
    <!-- <meta name="robots" content="noindex, nofollow" /> -->
    <meta name="description" content="Description About the Home Page">
    {% endblock %}
</head>

<body>
    {% block content%}
    <h1>Home Page</h1>
    {% endblock %}
    {% block scripts%}{% endblock %}
</body>

</html>